<ol>
    <% items.forEach(list => { %>
        <li>
            <%= list.title %> 
            <% if (list.type === "folder") { %>
                <%- include('listTree', { items: list.children }) %>
            <% } %>
        </li>
    <% }) %>
</ol>