<%- include('layout/header', {}) %>


<header>
    <h1>Todos</h1>
</header>

<nav>
<%- include('partials/listTree', { items: lists }) %>
</nav>

<section class="main">
    (No list selected)
</section>

<%- include('layout/footer', {}) %>